body{
margin: 100px 500px 300px 400px;
border: 1px solid ;
color: rgb(0, 0, 0);
box-shadow: 0 0 15px 0px rgb(0, 0, 0);  
background-image: url(fundo.jpg);
background-attachment: fixed;
background-size: cover;
background-position: center;
}

h1{
    font-size: 50px;
    color: rgb(255, 255, 255); text-shadow: rgb(1, 9, 37) 0.1em 0.1em 0.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;  
}

p{
    font-size: 28px;
    color: rgba(237, 203, 255, 0.603); text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;  
}

a:link {
    color: #00F;
    background-color: rgba(13, 5, 41, 0.13);
   }
   
   a:hover {
    color: #00F;
    background-color: rgba(9, 5, 46, 0.342);
   }